.typewriter-text {
  font-family: "Inconsolata", monospace;
  font-size: medium;
}

.typewriter-text.typewriter-text-complete {
  animation: none;
}

.typewriter-text::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: var(--caret-background-color, white);
  animation: blink-caret 1s infinite;
}

.typewriter-stop {
  font-family: "Inconsolata", monospace;
  font-size: medium;
}

.typewriter-stop::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: var(--caret-background-color, white);
  /* animation: blink-caret 1s infinite; */
}

@keyframes blink-caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
